.pokedex {
  &_wrapper {
    display: flex;
    flex-direction: column;
  }

  &_list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &_button {
    background: #ddd;
    align-self: center;
    border: 1px dashed black;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 15px 0px;
    outline: none;
    text-transform: uppercase;
    width: 125px;
  }
}
