.pokemon {
  &_card {
    background: #ddf;
    border: 1px dashed black;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    height: 200px;
    margin: 0 15px;
    margin-bottom: 30px;
    padding: 20px;
    transition: transform .5s;
    width: 350px;

    &:hover {
      border: none;
      box-shadow: 0 0 15px 0px black;
      transform: scale(1.15);
      z-index: 1;
    }
  }

  &_name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  &_generation {
    color: gray;
    font-size: 14px;
    margin: 0;
  }

  &_id {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    opacity: 0.3;
    padding-bottom: 25px;
    text-align: right;
  }

  &_sprite {
    align-self: flex-end;
    height: 150px;
    width: 150px;
  }
}

.left_wrapper {
  float: left;
}

.right_wrapper {
  float: right;
}
